html{
    background-color: #E2D0BE;  
}
body{
    margin: 10px auto;
    padding: 10px;
}
h1 {
    padding:5px;
    font-family: cursive;
    font-weight:bold;
    color: #92374D;
    text-align:center;
}
hr#title {
    height: 4px;
    color: #92374D;
    background-color: #92374D;
    border: none;
}
div#right{
    float:right;
    width: 600px;
	padding:10px 20px 10px;
	text-align:center;
	margin: 20px 10px 20px;
	border-radius:8px;
	outline-style: solid;   
    outline-width: thick;
    outline-color: #92374D;
}
p{
   padding:10px; 
}
div#left{
    float:left;
    width: 400px;
	padding:10px 20px 20px 10px;
	text-align: center;
	margin: 20px 10px 10px 20px;
	border-radius:8px;
	outline-style: dotted;   
    outline-width: thick;
    outline-color: #92374D;
}
div#images img{
    outline-style: solid;
    outline-color: #92374D;
}
div#bio{
    margin: 20px 20px 10px;
    text-align: center;
}
a {
    color: #8F6593;
    text-decoration: none;
}
div#digiWork{
    margin: 20px 20px 10px;
    outline-color: #92374D;
}
h2{
    padding: 5px;
    font-weight:bold;
    text-align:center;
}
hr.body{
    height: 1px;
    color: #92374D;
    background-color: #92374D;
    border: none;  
}
a#nell{
    font-weight:bold;
}
a#cheap{
    font-weight:bold;
}




