html{
    background-color: #F1DBD2;
    font-family: serif
}
body{
    color: #000000;
    font-size: 18px;
}
div.bigBox{
    width: auto;
    margin: auto;
    padding: 10px;
}

h1{
    color: #000000;
    font-size: 35px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 2px;
}
h2{
    color: #000000;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}
h3{
    color: #000000;
    font-size: 22px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0px;
}
p#resumeDL{
    text-align: center;
    margin-top: 5px;
}
#heading{
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    border-radius: 8px;
    outline-style: dotted;
    outline-width: thick;
    outline-color: #97A3A1;
}
#headingIndex{
    list-style-type: none;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 5px;
    width: 90%;
    border-radius: 8px;
    outline-style: dotted;
    outline-width: thick;
    outline-color: #97A3A1;
}
ul#headingIndex li{
    display: inline;
    padding: 10px
}
ul#heading li{
    display: inline;
    padding: 10px
}
hr{
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul.ext{
    list-style-type: square;
    margin: auto;
    width: 90%;
}
ul.int{
    list-style-type: square;
    margin: 10px;
    margin-top: 0px;
    width: 75%;
}
div#image{
    width: 30%;
    margin: auto;
}
img{
    border: 5px solid #6D6875;
}
div#menu{
    margin: auto;
    width: 20%;
    text-align: center;
    border: 5px solid #6D6875;
    background-color: #ECBEB4;
    padding: 5px;
}
div #foot{
    width: 100%;
    padding: 5px;
    margin: auto;
    text-align: center;
    float: left
}
div.content{
    background-color: #FFFFFF;
    margin: auto;
    width: 80%;
    border-radius: 8px;
    outline-style: solid;
    outline-width: thick;
    outline-color: #6D6875;
    padding-bottom: 10px;
}
div#digiWork{
    background-color: #FFFFFF;
    margin: auto;
    width: 60%;
    border-radius: 8px;
    outline-style: solid;
    outline-width: thick;
    outline-color: #6D6875;
    padding: 10px;
    float: right;
}
div#image{
    width: 30%;
    float: left;
    margin: auto;
    text-align: center;
}
div.content p{
    margin: auto;
    padding: 10px;
    padding-top: 5px;
    padding-left: 30px;
    margin-right: 20%;
}
.date{
    float: right;
    padding-right: 10px;
}
.loc{
    float: right;
    padding-right: 10px;
}
.name{
    float: left;
    padding-left: 10px;
}
.place{
    float: left;
    padding-left: 10px;
}
.degree{
    float: left;
    padding-left: 30px;
}
i.name{
    font-weight: bold;
}
.position{
    float: left;
    padding-left: 10px;
}

a:link{
    text-decoration: none;

    color: #5E2129;
}
a:visited{
    text-decoration: none;
    color: #6D6875;

}
a:hover{
    text-decoration: none;
    color: #ECBEB4;
    background-color: #000000;

}
/*https://coolors.co/f1dbd2-93928d-ecbeb4-b19994-6d6875*/
